.main {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.main form input {
  padding: 10px;
  margin-right: 10px;
  width: 48em;
}

.main form button {
  padding: 10px;
}

.responseContainer {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.response {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  padding: 1rem;
  border-radius: 0.5rem;
}
.robotImage {
  width: 100px; /* Adjust according to the size of your image */
  height: auto;
  margin-right: -10px; 
  margin-top: 10px;
}
.robotColon {
  display: inline-block;
  transform: translateY(12px); /* Adjust the value as needed */
}
.examples {
  margin-top: 2em;
}
.examples ul {
  list-style-type: none; /* Remove default bullets */
  padding-left: 0; /* Remove default padding if desired */
}

.examples li {
  background-image: url('/images/bullet_point.png'); /* Path to your custom bullet image */
  background-repeat: no-repeat;
  background-position: 0 5px; /* Adjust the position of the bullet */
  padding-left: 40px; /* Space for the bullet image and some padding between the bullet and text */
  background-size: 20px 20px; /* Optional: Adjust the size of the bullet image */
}

